<div class="main">
  <div align="center">
    <img
      src="assets\CorpCRS.png"
      alt="CORPCRS logo"
      style="width: 150px; height: 150px"
    />
  </div>
  <h1 style="text-align: center; background-color: #3ababe; color: white">
    Subscription Plans Inclusions - Hotels
  </h1>
  <table class="table price-table">
    <tbody>
      <tr class="price-table-head">
        <td>Features</td>
        <td></td>
      </tr>
      <tr>
        <td>
          Receive Bookings from Partnered Corporates @ pre-negotiated rates-
          <br />
          <br />
          Room Bookings <br />
          Group Bookings <br />
          Banquet Bookings
        </td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>
          Receive Bookings from additional Corporate clients via bookings from
          CorpCRS Exclusive Hotel Engine - <br />
          <br />
          Room Bookings <br />
          Group Bookings <br />
          Banquet Bookings <br />
        </td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Interactive Bookings Dashboard</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Option to provide instant confirmation</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Email notifications</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Registering Hotel Admins & Users</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Room Inventory Management System</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Upload and send bills upon Check-out for all bookings</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Comprehensive list of Reports</td>
        <td><i class="fa fa-check"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="footer" align="center">
    <br />
    Ready to level up your CorpCRS experience? Start your subscription plan and
    access these exclusive features. Reach us at
    <a href=""> sales@solutiontheory.in</a> for more information.
    <br /><br /><br /><br />
  </div>
</div>
